<!DOCTYPE html>
<html lang="zh-Hant-TW">

<%- include('head', { title: 'Archive « enter3017sky Blog' }); %>

<body>

<%- include('navbar') %>

<div class="container">
    <header class="jumbotron text-center bg-white">

        <%- `<h1>${title}</h1>` %>

        <% if(user) { %>
            <button type='button' class='badge btn-outline-secondary mr-1'>
                <%= user %> 登入中
            </button>
        <% } %>

    </header>
    <div class="box_shadow col-sm-10 col-md-10 mx-auto p-3">
        <ul class="list-group list-group-flush">

        <!-- 顯示文章列表 -->
        <% for(var i = 0; i < posts.length; i++) { %>

        <a href='./posts/<%= posts[i].id %>' class='list-group-item list-group-item-action'>
            <div class='d-flex flex-row'>
                <time class='datetime mr-3'><%= posts[i].created_at %></time>
                <h3 class='truncate'><%= posts[i].title %></h3>
            </div>
        </a>

        <% } %>

        </ul>
    </div>

    <%- include('footer', { footerText: 'Copyright © 2019 - enter3017sky' })%>

</div>
<!--  -->
</body>
</html>