<!DOCTYPE html>
<html lang="zh-Hant-TW">

<%- include('head', { title: `${title} « enter3017sky Blog`}); %>

<body>
<%- include('navbar') %>
<div class="container">
    <header class="jumbotron text-center bg-white">

        <%- `<h2>Categories: <button type='button' class='btn btn-outline-secondary btn-sm mr-1'>${title}</button></h2>` %>

        <% if(user) { %>
            <button type='button' class='badge btn-outline-secondary mr-1'>
                <%= user %> 登入中
            </button>
        <% } %>

    </header>
    <div class="box_shadow col-md-10 col-xl-8 mx-auto p-3">
        <ul class="list-group list-group-flush">

        <% for(let i = 0, max = posts.length; i < max; i++) { %>

            <a href='../posts/<%= posts[i].id %>' class='list-group-item list-group-item-action'>
                <div class='d-flex flex-row'>
                    <time class='datetime mr-3'><%= posts[i].created_at %></time>
                    <h4 class='truncate'><%= posts[i].title %></h4>
                </div>
            </a>

        <% } %>
        </ul>
    </div>

    <%- include('footer')%>

</div>
<!--  -->
</body>
</html>