<!DOCTYPE html>
<html lang="zh-Hant-TW">

<%- include('head', { title: '編輯分類 « enter3017sky Blog' }); %>

<body>
<%- include('navbar') %>
<div class="container">
    <header class="jumbotron text-center bg-white">

        <%- `<h1>${title}</h1>` %>
        <% if(user) { %>

            <button type='button' class='badge btn-outline-secondary mr-1'>
                <%= user %> 登入中
            </button>

        <% } %>

    </header>

    <div class="box_shadow col-md-10 col-xl-8 mx-auto p-4 mb-5">
        <form method="POST" action="/category/<%- id %>/edit">
            <div class="form-group">
                <label for="name"><h4>編輯分類名稱:</h4></label>
                <input type="text" class="form-control" name="name" id="name" value="<%- tagName %>" />
                <input type="hidden" name="id" value="<%- id %>" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-dark">
            </div>
        </form>
    </div>

    <%- include('footer', { footerText: 'Copyright © 2019 - enter3017sky' })%>

</div>
</body>
</html>